@media only screen and (min-width:320px) and (max-width:767px){
    .font-size-16{font-size: 13px;}
    .font-size-18{font-size: 12px;}
    .font-size-20{font-size: 10px;}
    .font-size-24{font-size: 18px;}
    .font-size-26{font-size: 13px;}
    .font-size-28{font-size: 16px;}
    .font-size-40{font-size: 25px;}
    .font-size-48{font-size: 20px;}
    .home-reg{padding: 5px 20px;}
    .home-login{padding: 5px 25px;}
    .powered_by{padding-left: 30px;}
    img.main_logo{width: 80px;margin-right: 30px;}
    .powered_by img.logo-right{width: 120px;}
    .first-content h2{line-height: 20px;padding: 5px 0px;}
    .first-content p{line-height: 20px;padding-bottom: 0;margin-bottom: 10px;}
    .athlete-btn{margin-right: 0;margin-bottom: 10px;}
    .home-first-imgs{margin: 20px 0;}
    .first-content{width: 90%;}
    ul.mobile-nav{ display: none;}
    .hamberger-menue{display: block;}
    .mobile-nav.main{display: block;}
    .navbar-ul{display: none !important;}
    .athlete-btn{padding: 8px 20px;}
    .emp-btn{padding: 8px 15px;}
    .home-first-imgs img{width: 50%;}
    .testimonial-card.test-last{margin-bottom: 0;}
    .home-second-img img{width: 50% !important;}
    .athlete-btn{padding: 8px 5px;}
    .our-partner-logo-content{width: 100%;}
    .input-submit input{height: 34px; width: 64%;}
    #news-sliders h1{ font-size: 8px !important; }
    #news-sliders .owl-controls .owl-buttons {top: 25%;}
    #news-slider .owl-controls .owl-next, #news-sliders .owl-controls .owl-next, #news-slider2 .owl-controls .owl-next{
        right: -9px;
    }
}

@media only screen and (min-width:320px) and (max-width:991px){
    .home-second-content p{padding-bottom: 0;}
    .home-second-bottom{text-align: center;}
    .home-second-img img{width: 30%;}
    .home-second-content{width: 100%;}
    .emp-btn{margin: 20px 0;}
    .home-second,.home-testimonial,.our-partner{padding: 30px 0;}
    .home-third{padding: 30px;}
    .testimonial-card{margin-bottom: 112px;}
    .our-partner-img{border-right: unset;    margin-bottom: 25px;}
    .our-partner-logos{margin-bottom: 0;}
    .sub-footer{padding: 50px 0px 20px;}
    .sub-footer-btn{margin-top: 40px;}
    .footer-right{text-align: center;}
    .footer-submit{justify-content: center; margin-top: 15px;}
    button.footer-submit{margin-top: 0;}
    .sub-footer-head{width: 100%;}
    .sub-footer-btn button:first-child{margin-right: 0px;}
    .footer-platform ul li{margin-bottom: 10px;}
    .footer-submit{white-space: nowrap;}
    .footer-media img{width: 25px;}
    .footer-left{margin: 30px 0;}
    .footer-left img{width: 90px;}
    .emp-btn{padding: 8px;}
    .our-partner-logos{justify-content: center;}
    .hamberger-menue-parent {display: flex; justify-content: space-between; width: 80%; margin: auto; align-items: center;}
    .mobile-logo img{width: 45px;}
    .mobile-nav.main {text-align: right;width: 80%; margin: auto;}
    .mobile-nav select {border: none;color: #000;     background: #fff;}
    .mobile-nav li:last-child{margin-bottom: 20px;margin-top: 10px;}
    .our-partner-logo-content h1{margin-bottom: 5px;}
    .our-partner-img{padding-right: 0;}
    .our-partner-logos{flex-wrap: wrap;}
    .input-submit input{height: 37px; width: 64%;}
    .workplay-content .work-loadmore-article{margin: 20px 0;}
    .home-second-content h1{margin-top: 10px;}
    .home-second-bottom:first-child{margin-bottom: 30px;}
    .home-mobile-order{order: 2;}
    .sub-breadcrumb{padding-top: 70px;}
    .our-partner-logo-content::after{background: transparent;}
    #news-slider h1.font-size-16 {font-size: 11px;}
    #news-slider p.font-size-13{font-size: 10px;}
    .home-carocel-content{padding:5px 10px 0;}
    button.emp-btn{margin: 0;}
    .owl-theme .owl-controls .owl-buttons div{padding: 2px !important;}
    .full-img-media{margin-bottom: 30px;}
    .adel-wrapper{margin-bottom: 0;}
    .full-img-content h1{line-height: 9px;}
    .full-img-media img{width: 30px;}
    .full-img-content p{line-height: 20px;}
    .our-partner-content h1{margin-top: 20px;}
    .our-partner-logo-m .our-partner-logo-p.font-size-24{font-size: 14px;}
    .our-partner-m .our-partner-logo-m p.our-partner-logo-p{text-align: center;padding: unset;min-height: 42px;max-height: 42px;}
    .home-carocel-content h1{line-height: 12px;}
    .adel-wrapper{margin-bottom: 10px;}
    #exampleModal .model-content{padding: 40px 20px;}
    #exampleModal .modal-dialog {max-width: 80%; margin: auto;margin-top: 40px;}
    .model-description p{line-height: 18px;}
    .model-profile-content h1{line-height: 20px;}
    .model-profile-content p{line-height: 20px;}
    .mobile-nav.main li{margin-bottom: 8px;}
    .model-close button{right: -26px;width: 17px; height: 20px;}
    .full-img .play-button img{display: none !important;}
    .full-img .play-button{position: unset !important;}

    .na-menue{display: flex;align-items: center;}
    .na-menue .menue-issu{display: inline-block;}
    .na-menue .powered_by{display: inline-block;    padding-left: 15px;}
    .na-menue .powered_by img.logo-right{width: 80px;}
}

@media only screen and (min-width:768px) and (max-width:991px){
    .font-size-16{font-size: 14px;}
    .font-size-18{font-size: 14px;}
    .font-size-20{font-size: 12px;}
    .font-size-24{font-size: 18px;}
    .font-size-26{font-size: 15px;}
    .font-size-28{font-size: 20px;}
    .font-size-40{font-size: 28px;}
    .font-size-48{font-size: 22px;}
    .home-reg{padding: 5px 20px;}
    .home-login{padding: 5px 25px;}
    .powered_by{padding-left: 30px;}
    img.main_logo{width: 80px;margin-right: 30px;}
    .powered_by img.logo-right{width: 120px;}
    .first-content h2{line-height: 20px;padding: 13px 0px;}
    .first-content p{line-height: 20px;    padding-bottom: 15px;}
    .athlete-btn{margin-right: 0;margin-bottom: 10px;}
    .home-first-imgs{margin: 20px 0;}
    .first-content{width: 80%;}
    ul.mobile-nav{ display: none;}
    /* .hamberger-menue{display: block;} */
    .mobile-nav.main{display: block;}
    .navbar-ul{display: none !important;}
    .home-first-imgs img{width: 25%;}
    .testimonial-card.test-last,.testimonial-card.test-before{margin-bottom: 0;}
    .our-partner-logo-content{margin-right: 30px;}
    .input-submit input {height: 39px;}
}

@media only screen and (min-width:991px) and (max-width:1200px){
    .font-size-16{font-size: 12px;}
    .font-size-18{font-size: 12px;}
    .font-size-20{font-size: 12px;}
    .font-size-24{font-size: 17px;}
    .font-size-26{font-size: 15px;}
    .font-size-28{font-size: 20px;}
    .font-size-40{font-size: 30px;}
    .font-size-48{font-size: 22px;}
    .home-reg{padding: 5px 20px;}
    .home-login{padding: 5px 25px;}
    .powered_by{padding-left: 30px;}
    img.main_logo{width: 80px;margin-right: 30px;}
    .powered_by img.logo-right{width: 120px;}
    .first-content h2{line-height: 20px;padding: 15px 0px;}
    .first-content p{line-height: 20px;padding-bottom: 0;}
    .athlete-btn{margin-right: 0;margin-bottom: 10px;}
    .home-first-imgs{margin: 20px 0;}
    .first-content{width: 80%;}
    .nav_dummy{width: 0;}
    .home-reg{margin-right: 2px;}
    .powered_by{padding-left: 5px;}
    .powered_by img.logo-right{width: 90px;}
    .home-first-imgs img{width: 40%;}
    .home-second,.home-testimonial,.our-partner{padding: 30px 0;}
    .home-third{padding: 30px;}
    .sub-footer{padding: 50px 0px 20px;}
    .our-partner-img{border-right: none;}
    .our-partner-logo-content{margin-bottom: 30px;}
    .our-partner-logo-content h1{margin-bottom: 10px;}
    .our-partner-logos{margin-bottom: 0;}
    .our-partner-logos{flex-wrap: wrap;}
    #exampleModal .modal-dialog {max-width: 90%;}
}

@media only screen and (min-width:991px){
    ul.mobile-nav{display: none;}
    .hamberger-menue-parent{display: none;}
}

@media only screen and (min-width:991px) and (max-width:1200px){
    .home-second-content p{
        padding-bottom: 20px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1300px){
    .athlete-btn{margin-right: 10px;}
}

@media only screen and (min-width:1200px) and (max-width:1600px){
    .font-size-16{font-size: 12px;}
    .font-size-18{font-size: 14px;}
    .font-size-20{font-size: 14px;}
    .font-size-24{font-size: 15px;}
    .font-size-26{font-size: 15px;}
    .font-size-28{font-size: 22px;}
    .font-size-40{font-size: 30px;}
    .font-size-48{font-size: 35px;}
    .first-content p{padding-bottom: 20px;}
    .first-content h2{padding: 15px 0; line-height: 25px;}
    .home-reg{padding: 5px 20px;}
    .home-login{padding: 5px 25px;}
    .powered_by{padding-left: 30px;}
    img.main_logo{width: 73px;margin-right: 30px;}
    .powered_by img.logo-right{width: 120px;}
    .workplay-content .work-loadmore-article{margin: 30px 0;}
    .our-partner-logo-content::after{right: 9px;}
    .home-second-content p{padding-bottom: 20px;}
    .input-submit input{height: 39px;}
    .our-partner-logo-content h1{margin-right: 10px;}
}
@media only screen and (min-width:1600px){
    .input-submit input{height: 45px;}
    .sub-breadcrumb{padding-top: 130px;}
    .full-img video{width: 98.8%; margin: auto;}
    .our-partner-logo img{width: unset;}
}